body {
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  color: hsl(200, 15%, 8%);
}

.hide {
  display: none !important;
}

header > button, .select > .header > svg, .select[data-open] > .header > svg, .select > datalist > .option, .item-country {
  cursor: pointer;
}

/* Header */
header {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

h1 {
  font-weight: 900;
}

header > button {
  display: flex;
  align-items: center;
  font-weight: 600;
}

#svg-moon, #svg-sun {
  margin-right: .5rem;
}

/* Main */
main {
  padding: 1rem;
}

form {
  position: relative;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: 5px;
}

form > svg {
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translate(-50%, -50%);
}

#input-search {
  width: 100%;
  padding: .5rem 0rem .5rem 5rem;
}

#input-search::placeholder {
  font-size: 14px;
  color: hsla(200, 15%, 8%, .25);
}

#input-search:active, #input-search:focus, select:active, select:focus {
  outline: none;
  box-shadow: none;
}

.container-filter {
  width: 50%;
  margin: 2rem 0;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  font-size: 14px;
  border-radius: 5px;
}

.select {
  display: block;
  width: 100%;
  position: relative;
  user-select: none;
  border-radius: 4px;
}

.select > .header {
  display: flex;
  flex: 1;
  align-items: center;
  padding: .5rem 1rem;
  position: relative;
  width: auto;
}

.select > .header > span {
  flex: 1;
  padding: 0.5em;
}

.select[data-open] > .header > svg {
  transform: rotate(180deg);
}

.select > datalist {
  display: none;
  appearance: none;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: 5px;
}

.select[data-open] > datalist {
  display: initial;
}

.select > .header > select {
  display: none;
  appearance: none;
  width: 100%;
  flex: 1;
}

.select > .header > select > option {
  display: none;
}

.select > datalist > .option {
  background-color: white;
  cursor: pointer;
  padding: 0.25rem .5rem;
}

.select > datalist > .option:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.select > datalist > .option:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.select > datalist > .option:hover,
.select > datalist > .option:focus,
.select > datalist > .option:checked {
  background-color: hsl(200, 15%, 8%);
  color: white;
}

.select > datalist > .option[data-checked] {
  background-color: hsl(200, 15%, 8%);
  color: white;
}

.label {
  padding: 0.25em;
}

.list-countries {
  width: 80%;
  margin: 0 auto;
}

.item-country {
  margin: 2rem 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.item-country > img {
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.item-country > h2 {
  padding: 1rem;
  font-weight: 800;
  font-size: 1.25rem;
}

.div-information {
  padding: 0 1rem 2rem 1rem;
}

.div-information > div {
  margin: 0 0 .25rem 0;
}

.div-information > div > span {
  margin-right: .25rem;
  font-weight: 600;
}