body {
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  color: hsl(200, 15%, 8%);
}

body.dark {
  color: hsl(0, 0%, 100%) !important;
  background-color: hsl(207, 26%, 17%) !important;
}

.hide {
  display: none !important;
}

header > button, .select > .header > svg, .select[data-open] > .header > svg,
.select > datalist > .option, #btn-back, .item-country, .list-border-countries > li {
  cursor: pointer;
}

/* Header */
header {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

body.dark header {
  background-color: hsl(209, 23%, 22%);
}

h1 {
  font-weight: 900;
}

header > button {
  display: flex;
  align-items: center;
  font-weight: 600;
}

#svg-moon, #svg-sun {
  margin-right: .5rem;
}

/* Main */
main {
  padding: 1rem;
}

form {
  position: relative;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: 5px;
}

form > svg {
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translate(-50%, -50%);
}

body.dark form > svg > path {
  fill: #FFFFFF;
}

#input-search {
  width: 100%;
  padding: .5rem 0rem .5rem 5rem;
  border-radius: 5px;
}

body.dark #input-search {
  background-color: hsl(209, 23%, 22%);
}

#input-search::placeholder {
  font-size: 14px;
  color: hsla(200, 15%, 8%, .25);
}

body.dark #input-search::placeholder {
  color: hsl(0, 0%, 100%);
}

#input-search:active, #input-search:focus, select:active, select:focus {
  outline: none;
  box-shadow: none;
}

.container-filter {
  width: 50%;
  margin: 2rem 0;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  font-size: 14px;
  border-radius: 5px;
}

.select {
  display: block;
  width: 100%;
  position: relative;
  user-select: none;
  border-radius: 4px;
}

.select > .header {
  display: flex;
  flex: 1;
  align-items: center;
  padding: .5rem 1rem;
  position: relative;
  width: auto;
}

.select > .header > span {
  flex: 1;
  padding: 0.5em;
}

.select[data-open] > .header > svg {
  transform: rotate(180deg);
}

body.dark .select > .header > svg > path {
  fill: #FFFFFF;
}

.select > datalist {
  display: none;
  appearance: none;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: 5px;
}


.select[data-open] > datalist {
  display: initial;
}

.select > .header > select {
  display: none;
  appearance: none;
  width: 100%;
  flex: 1;
}

.select > .header > select > option {
  display: none;
}

.select > datalist > .option {
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
  padding: 0.25rem .5rem;
}

body.dark .select > datalist > .option {
  background-color: hsl(209, 23%, 22%);
}

.select > datalist > .option:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.select > datalist > .option:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.select > datalist > .option:hover,
.select > datalist > .option:focus,
.select > datalist > .option:checked {
  background-color: hsl(200, 15%, 8%);
  color: white;
}

body.dark .select > datalist > .option:hover,
body.dark .select > datalist > .option:focus,
body.dark .select > datalist > .option:checked {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.select > datalist > .option[data-checked] {
  background-color: hsl(200, 15%, 8%);
  color: hsl(0, 0%, 100%);
}

body.dark .select > datalist > .option[data-checked] {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.label {
  padding: 0.25em;
}

body.dark .container-filter {
  background-color: hsl(209, 23%, 22%);
}

.container-filter.filter-hidden {
  width: 85px;
}

#btn-back {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}

body.dark #btn-back > svg > path {
  fill: hsl(0, 0%, 100%);
}

#arrow-left {
  margin-right: .5rem;
}

.list-countries {
  width: 80%;
  margin: 0 auto;
}

.item-country {
  margin: 2rem 0;
  border-radius: 5px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

body.dark .item-country {
  background-color: hsl(209, 23%, 22%);
}

.item-country > img {
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.item-country > h2 {
  padding: 1rem;
  font-weight: 800;
  font-size: 1.25rem;
}

.div-information {
  padding: 0 1rem 2rem 1rem;
}

.div-information > div {
  margin: 0 0 .25rem 0;
}

.div-information > div > span {
  margin-right: .25rem;
  font-weight: 600;
}

.detail > img {
  display: block;
}

.detail > h2 {
  font-weight: 900;
  margin: 1.5rem 0;
  font-size: 1.25rem;
}

.detail > ul {
  margin-bottom: 2rem;
}

.detail > ul > li {
  margin-bottom: .5rem;
  font-size: 14px;
}

.detail > ul > li > span {
  font-weight: 600;
  margin-right: .25rem;
}

.detail > div > span {
  display: block;
  font-weight: 600;
  margin-bottom: .5rem;
}

.list-border-countries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.list-border-countries > li {
  padding: .25rem 1rem;
  margin: .25rem .5rem 0 0;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

body.dark .list-border-countries > li {
  background-color: hsl(209, 23%, 22%);
}